.content-container {
    width: 1500px;
    min-height: 100vh;
    background-color: purple;
    color: white;
    margin: 0 auto;
    padding: 1rem
}

.content-container_header {
    margin-bottom: 1rem;
}

.header_title {
    text-align: center;
}

.content-container_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.main_go-to-form-button {
    border: 1.5px solid rgb(99, 255, 110);
    transition: 300ms ease;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 5px;

    &:hover {
        background-color: rgb(99, 255, 110);
        color: rgb(0, 0, 0)
    }

}